<%- include("../includes/head") %>
    <section class="mx-auto">
        <h1>Your time to change password for this email is experied.</h1>
        <a href="reset-password">Please request to reset passwrod</a>
        <a href="/">Go back Home</a>
    </section>
    <%- include("../includes/foot") %>