@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    margin: 10px 0;
    color: white;
    background-color: black;
    padding: 8px 10px;
    width: fit-content;
    text-decoration: none;
}

/* for title */
.post-box a {
    color: black;
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
}

.gb-btn {
    margin: 0;
}

nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin: 0 auto 20px auto;
}

nav .right-side {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header {
    width: 60%;
    margin: 0 auto;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.post-box {
    flex: 1;
}

.post-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.post-box-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-des {
    font-size: 18px;
    margin-bottom: 8px;
}

.post-email {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none !important;
}

.four {
    text-align: center;
    margin-top: 40px;
}

.four h1 {
    font-size: 60px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.tmp {
    margin: 4px 0;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.tmp i {
    font-size: 20px;
}

/* global-style */

label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

input,
textarea {
    font-size: 18px;
    padding: 4px 10px;
    width: 100%;
}

button,
.btn-edit {
    margin: 10px 0;
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 8px 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.mx-auto {
    width: 60%;
    margin: auto auto;
}

/* detail */

.details {
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.details .details-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
}

.details h1 {
    font-size: 40px;
}

.details img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.details hr {
    margin: 20px 0;
}

.details p {
    font-size: 21px;
}

.action-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;
}

.details-sec {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.details-sec .down-ic {
    font-size: 35px;
}

.details-sec a {
    margin: 0;
    color: #000;
    background-color: transparent;
    padding: 0;
}

.msg-box {
    width: 100%;
    text-align: center;
    color: black;
    border: 1px solid red;
    background-color: rgb(232, 158, 158);
    padding: 4px 10px;
}

.warm {
    border: 1px solid yellow;
    background-color: rgb(233, 233, 163);
}

.public-user {
    text-align: center;
    margin: 40px 0 20px 0;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
}

.profile-photo-home {
    width: 62px;
    height: 62px;
    border-radius: 20%;
    margin-right: 7px;
    object-fit: cover;
}

.public-user i,
.own-user i {
    font-size: 6rem;
}

.own-user {
    margin: 40px 0 20px 0;
}

.own-user-right a {
    text-align: center;
}

.own-user-left {
    text-align: center;
}

.own-user-right-premium,
.own-user-right-notpremium {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* homepage */

.user-index {
    display: flex;
    /* align-items: center; */
}

.user-index-ic {
    font-size: 60px;
    margin-right: 4px;
}

/* premium */

.premium {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.card h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

.card .checkout-btn {
    background-color: black;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;

}

.card ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
}

.premium-username i {
    font-size: 18px;
}

/* payment detail */

.p-details {
    width: 60%;
    margin: 0 auto;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.p-details-p {
    padding: 40px;
}

.p-details h1 {
    font-size: 2.5rem;
}

.p-details p {
    margin-bottom: 4px;
}

.p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-header i {
    font-size: 40px;
}

.p-details span {
    font-weight: bold;
}

.p-details .status {
    background-color: green;
    color: white;
    padding: 1px 3px 3px 1px;
}

/* subsciption success */

.s-success {
    text-align: center;
}

.s-success h1 {
    font-size: 3rem;
}

.s-success a {
    margin: 0 auto;
}