<%- include("../includes/head") %>
    <section class="premium">
        <h1>Subscription Successfull.</h1>
        <p>Subscription ID - <%= subscription_id %>
        </p>
    </section>
    <%- include("../includes/foot") %>