<%- include("../includes/head") %>
    <section class="s-success">
        <h1>Subscription Successful.</h1>
        <a href="/admin/profile">Go Back Profile</a>
    </section>
    <%- include("../includes/foot") %>